.login_box {
   width: 500px;
   height: auto;
   box-shadow: 0 0 3 px 1px rgab(0,0,0,0.6);
   margin: auto;
   position: relative;
   top: 20%;
   background: #fff;
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   display: none;
}

.login_box .login_title {
   background-color: #333;
   padding: 8px;
   color: #bbb;
   font-size: 16px;
   font-weight: 300;
   cursor: default;
}

.login_box .login_content {
   padding: 15px;
}

@media(max-width: 600px){
   .login_box {
      width: 100%;
   }
}

.top_bar_login {
   width: 100%;
   height: 55px;
   position: fixed;
   background: #3a3633;
   display: block;
   z-index: 11;
}

.top_bar_login .logo {
   margin-top: 17px;
   margin-left: 10px;
}